

.btn-close-dialog {
    --bs-btn-font-weight: 600;
    --bs-btn-color: blue;
    --bs-btn-bg: white;
    --bs-btn-border-color: #0078D4;
    --bs-btn-border-radius: .5rem;
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: #a4c3f5;
    --bs-btn-hover-border-color: #a4c3f5;
    /* --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb); */
    --bs-btn-active-color: white;
    --bs-btn-active-bg: white;
    --bs-btn-active-border-color: #0078D4;
  }

  .btn-bd-primary {
    --bs-btn-font-weight: 600;
    --bs-btn-color: white;
    --bs-btn-bg: violet;
    --bs-btn-border-color: violet;
    --bs-btn-border-radius: .5rem;
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: violet;
    --bs-btn-hover-border-color: violet;
    --bs-btn-focus-shadow-rgb: violet;
    /* --bs-btn-active-color: var(--bs-btn-hover-color); */
    --bs-btn-active-bg: violet;
    --bs-btn-active-border-color: violet;
  }